<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.ebook.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.zt.ebook.pojo.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>